source_up .astral_envrc || true

export LOGGER_LEVEL=${LOGGER_LEVER:-debug}

export SECRET_KEY_BASE=${SECRET_KEY_BASE:-MfqklbGggecufKTwBGlRvKsadYX0a+nxGrE1V+SHFerI3ypA1eI/xEUd0+c9xog5}
export LIVE_VIEW_SALT=${SECRET_KEY_BASE:-EVXJi2R1PQ1gXAv1IPOfkjnTm3ymlqXd}

export ENFORCE_PASSWORD_RULES=${ENFORCE_PASSWORD_RULES:-false}

export MAILER_ADAPTER=${MAILER_ADAPTER:-local}
export MAILER_FROM=${MAILER_FROM:-noreply@astra.com|Astral development}

export ENABLE_SENTRY=${ENABLE_SENTRY:-false}
export SENTRY_DSN=${SENTRY_DSN:-}

export GALERIE_FOLDERS=${GALERIE_FOLDERS:-./scanned}
