# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

/priv/static
/assets/node_modules
/bucket
/samples/*
!/samples/DSC00397.JPG
!/samples/DSC00413.JPG
!/samples/DSC01804.ARW
!/samples/DSC01653.ARW
!/samples/DSC01569.ARW
!/samples/DSC01569.JPG
!/samples/DSC00461.jpg
/priv/files
