<.container>
  <.form :let={f} for={@changeset} action={~p(/login)} as={:login_form}>
    <Form.text_input field={f[:email]} autocomplete="off">
      <:label>{gettext("Email")}</:label>
    </Form.text_input>
    <Form.text_input field={f[:password]} type="password">
      <:label>{gettext("Password")}</:label>
    </Form.text_input>

    <div class="text-right flex flex-col text-sm">
      <a href="/forgot_password" class="pb-1">{gettext("Forgot your password")}</a>
    </div>

    <div class="text-right mt-1">
      <Form.button type={:submit}>Login</Form.button>
    </div>
  </.form>
</.container>
