<.container>
  <%= PhoenixForm.form_for @changeset, ~p(/reset_password?#{[token: @reset_password_token]}), [as: :reset_password_form], fn f -> %>
    <Form.text_input form={f} name={:password} type={:password} label={gettext("Password")} />
    <Form.text_input form={f} name={:password_confirmation} type={:password} label={gettext("Password confirmation")} />

    <div class="text-right mt-1">
      <Form.button type={:submit}>Reset password</Form.button>
    </div>
  <% end %>
</.container>
