<div class="w-full">
  <Table.render rows={@users}>
    <:cell :let={user} header={gettext("First name")}>
      {user.first_name}
    </:cell>
    <:cell :let={user} header={gettext("Last name")}>
      {user.last_name}
    </:cell>
    <:cell :let={user} header={gettext("Email")}>
      {user.email}
    </:cell>
    <:cell :let={user} header={gettext("Type")}>
      <%= if user.is_admin do %>
        {gettext("Admin")}
      <% else %>
        {gettext("User")}
      <% end %>
    </:cell>
    <:cell :let={_user} header="">
      <Form.button phx-click="users:edit" style={:link} size={:small} class="text-pink-600">
        <Icon.pencil width="16" height="16" />
      </Form.button>
    </:cell>
  </Table.render>
</div>
