<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <.live_title prefix="Galerie - ">
      <%= assigns[:page_title] || gettext("Welcome") %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p(/css/app.css)}/>
    <script defer phx-track-static type="text/javascript" src={~p(/js/app.js)}></script>
  </head>
  <body class="h-full bg-true-gray-900 text-true-gray-50 flex flex-col">
    <%= @inner_content %>
  </body>
</html>
